<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555252874392-alaq16fgcvt3af14ljrba1jdao67msfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555252874392-alaq16fgcvt3af14ljrba1jdao67msfl</string>
	<key>API_KEY</key>
	<string>AIzaSyDaqx0HJovvkh29mGTX3cxwTsWXxg0lwN4</string>
	<key>GCM_SENDER_ID</key>
	<string>555252874392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.neurify.Mother-Message</string>
	<key>PROJECT_ID</key>
	<string>mother-message</string>
	<key>STORAGE_BUCKET</key>
	<string>mother-message.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555252874392:ios:07dbc27918e6818d99a4ed</string>
</dict>
</plist>